{
    "rules": {
        "indent": [2, 4, {"SwitchCase": 1}],
        "quotes": [2, "single"],
        "linebreak-style": [2, "unix"],
        "eqeqeq": [2, "smart"],
        "no-else-return": 2,
        "no-alert": 2,
        "no-eq-null": 2,
        "no-magic-numbers": 2,
        "camelcase": 2,
        "eol-last": 2,
        "no-redeclare": 2
    },
    "env": {
        "browser": true
    },
    "extends": "eslint:recommended",
    "globals": {
        "Meteor": 1,
        "Mongo": 1,
        "Works": 1,
        "Genres": 1,
        "Types": 1,
        "Themes": 1,
        "HTTP": 1,
        "xml2js": 1,
        "_": 1,
        "Template": 1,
        "Session": 1,
        "$": 1,
        "Tracker": 1
    }
}
